@import './_variables';
@import "bootstrap/scss/bootstrap";

// partias
@import '../../partials/header/header';

// sections
@import '../../sections/hero/hero';
@import '../../sections/gallery/gallery';



body {
    background-color: $color-primary;
    font-family: Arial, sans-serif;
    padding-top: 30px;

    h1 {
        color: white;
    }
}

img {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;

}

a {
    text-decoration: none;
}